@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0e8e8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0e8e8;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

  margin: 0;
}
.price {
  --background: #f0e8e8;
}

h1 {
  margin: 20px;
}
.btn {
  margin-top: 20px;
}
.nav {
  margin: 40px;
}
.img image {
  padding: 20px;
}
.back {
  margin-bottom: 0;
}
. a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* Light Mode */
body {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark-mode {
  background-color: #0f0d0d;
  color: white;
}

/* Modify other elements as needed */
.dark-mode .navbar {
  background-color: black;
}

.dark-mode .product-card {
  background-color: #222;
  color: white;
}
.dark-mode .contactPage {
  background-color: #222;
  color: white;
}
.dark-mode .signupPage {
  background-color: #222;
  color: white;
}
.dark-mode .loginPage {
  background-color: #222;
  color: white;
}
.dark-mode .humbergur {
  color: white;
}
.dark-mode .list {
  background-color: black;
}
footer {
  margin-top: 40px; /* Space between footer and page content */
}
